adafruit-board-toolkit==1.1.2
argcomplete==1.12.3
astroid==3.2.4
asttokens==2.4.1
atomicwrites==1.4.1
attrs==25.4.0
bcrypt==4.2.1
bitarray==2.9.3
bitstring==4.2.3
bottle==0.12.18
certifi==2026.2.25
cffi==1.17.1
chardet==3.0.4
colorama==0.4.6
comtypes==1.4.16
cryptography==44.0.0
dill==0.3.9
docutils==0.21.2
ecdsa==0.19.0
esptool==4.8.1
idna==2.10
intelhex==2.3.0
isort==5.13.2
jedi==0.19.2
mccabe==0.7.0
more-itertools==10.8.0
mypy==1.11.2
mypy-extensions==1.0.0
numpy==2.2.6
opencv-python==4.13.0.92
packaging==26.0
paramiko==3.4.1
parso==0.8.4
platformdirs==4.3.6
pluggy==0.13.1
prettytable==0.7.2
psutil==7.2.2
py==1.11.0
pycaw==20251023
pycparser==2.22
pygame==2.6.1
PyGetWindow==0.0.9
PyHamcrest==2.0.2
pylint==3.2.7
pymongo==3.11.0
PyNaCl==1.5.0
PyRect==0.2.0
pyserial==3.5
pytest==5.4.3
pywin32==311
PyYAML==6.0.2
reedsolo==1.7.0
requests==2.24.0
Send2Trash==1.8.3
servicemanager==2.0.10
six==1.17.0
thonny==4.1.7
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==1.25.11
wcwidth==0.6.0
websockets==13.0.1
pillow
